/* Enième putain de tentative */

.MenuBottom {
    background-color: #a4cbf2;
    height: 2.5rem;
    min-height: 1rem;
    max-height: 4rem;
    left: 0%;
    width: 60%;
    min-width: 170px;
    max-width: 100%;
    position: absolute;
    bottom: 0.5rem;
    margin-left: 20%;
    margin-right: 20%;
    cursor: pointer;
    z-index: 1000;
    /* -webkit-border-radius: 200px;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius: 200px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-radius: 200px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; */
    border-radius: 100% 100% 100% 100% / 50% 100% 50% 100%;
    border-top: 0.2rem groove #50bbfd6c;
    border-left: 0.4rem groove #50bbfd6c;
    border-right: 0.1rem groove #50bbfd6c;
    -webkit-box-shadow: 0px 50px 50px -5px #50BBFD;
    box-shadow: 0px 20px 50px 20px #50BBFD;
}

.dispoMenuBottom {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.icoMenuBottom {
    width: 2rem;
    position: relative;
    top: -1rem;
    left: 10rem;
    z-index: 1006;
}
.active .icoMenuBottom {
    position: relative;
    top: -1.8rem;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #50bbfd;
    border-radius: 100%;
    padding: 0.35rem;
    border: 0.2rem solid #a4cbf2;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    z-index: 1007;
}
.icoMenuBottom:hover {
    transform: scale(0.6) translateY(-0.2rem);
    transition: 0.8 ease-in-out;
}
.links-circle {
    position: relative;
    top: -0.1rem;
}
.burger-menu,
.burger-menu.open {
    display: inline-block;
    cursor: pointer;
    position: relative;
    height: 0.8rem;
    width: 0.8rem;
    left: 8rem;
    bottom: 4.8rem;
    z-index: 9999;
    background: #a4cbf2;
    background-position: 50% 50%;
    padding: 3.5px;
    border-radius: 100%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.btn-circle.menu-anim .btnPlus {
    transform: rotate(0deg);
    transition: 0.2s ease;
}
.burger-menu.open .links-circle {
    transform: rotate(225deg) scale(1.5);
    transition: 1s ease;
}
.menu {
    width: 100%;
    display: block;
    text-align: center;
    padding: 0px;
}
.ImgBg{
    position: relative;
    bottom: 4rem;
    left: 15.7rem;
}
.menu ul {
    position: absolute;
    bottom: -25rem;
    left: -23rem;
    height: 22rem;
    width: 45rem;
    font-size: 24px;
    padding: 0px;
    background-color: #a4cbf2;
    border-top: 1rem groove #50bbfd6c;
    border-left: 1rem groove #50bbfd6c;
    border-right: 0.1rem groove #50bbfd6c;
    -webkit-border-top-right-radius: 400000px;
    -moz-border-radius-topright: 400000px;
    border-top-right-radius: 400000px;
    -webkit-border-top-left-radius: 500000px;
    -moz-border-radius-topleft: 500000px;
    border-top-left-radius: 500000px;
    -webkit-border-bottom-right-radius: 300000px;
    -moz-border-radius-bottomright: 300000px;
    border-bottom-right-radius: 300000px;
    -webkit-border-bottom-left-radius: 10000px;
    -moz-border-radius-bottomleft: 10000px;
    border-bottom-left-radius: 10000px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.IllusImg,
.MusiImg,
.FilmImg,
.AbouImg,
.MentioImg {
    width: 1rem;
    height: 1rem;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    background-color: #a4cbf2;
    border-radius: 100%;
    border-top: 0.1rem groove #50bbfd6c;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 0.3rem;
}
.IllusImg:hover {
    background-color: #50bbfd;
    transform: scale(1.3) translateY(-0.5rem);
    transition: 0.4s ease;
}
.MusiImg:hover {
    background-color: #50bbfd;
    transform: scale(1.4) translateY(-0.5rem);
    transition: 0.4s ease;
}
.FilmImg:hover {
    background-color: #50bbfd;
    transform: scale(1.5) translateY(-0.5rem);
    transition: 0.4s ease;
}
.AbouImg:hover {
    background-color: #50bbfd;
    transform: scale(1.6) translateY(-0.5rem);
    transition: 0.4s ease;
}
.MentioImg:hover {
    background-color: #50bbfd;
    transform: scale(1.7) translateY(-0.5rem);
    transition: 0.4s ease;
}
.IllusImg {
    position: relative;
    left: -28rem;
    top: 25rem;
    width: 1.5rem;
    height: 1.5rem;
}
.MusiImg {
    position: relative;
    left: -28rem;
    top: 16rem;
    width: 1.6rem;
    height: 1.6rem;
}
.FilmImg {
    position: relative;
    left: -28rem;
    top: 7rem;
    width: 1.7rem;
    height: 1.7rem;
}
.AbouImg {
    position: relative;
    left: -28rem;
    top: -2rem;
    width: 1.8rem;
    height: 1.8rem;
}
.MentioImg {
    position: relative;
    left: -28rem;
    top: -12rem;
    width: 2rem;
    height: 2rem;
}
@media (max-width: 1100px) {
    .MenuBottom {
            background-color: #a4cbf2;
            left: 0%;
            width: 94%;
            position: absolute;
            bottom: 0.5rem;
            margin-left: 2%;
            margin-right: 2%;
            cursor: pointer;
        }
        .icoMenuBottom {
            width: 2rem;
            position: relative;
            top: -1rem;
            left: 2rem;
        }
        .burger-menu,
        .burger-menu.open {
            left: 2rem;
            bottom: 4.8rem;
            z-index: 9999;
            background: #a4cbf2;
            background-position: 50% 50%;
            padding: 3.5px;
            border-radius: 100%;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        }
        .ImgBg {
            position: relative;
            bottom: 4rem;
            left: 22rem;
        }
        .icoMenuBottom:hover {
            transform: scale(1.1) translateY(-0.2rem);
            transition: 0.8 ease-in-out;
        }
        .active .icoMenuBottom {
            position: relative;
            top: -1.8rem;
            width: 1.6rem;
            height: 1.6rem;
            background-color: #50bbfd;
            border-radius: 100%;
            padding: 0.35rem;
            border: 0.2rem solid #a4cbf2;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
            z-index: 1007;
        }
        .links-circle {
            position: relative;
            top: -0.15rem;
        }
    }